<div ng-if="!leaderTable"> Loading Leaderboard... </div>
<div ng-show="leaderTable">
	<table>
		<th> Player </th>
		<th> Total Rounds Played </th>
		<th> Started Human </th>
		<th> Total Human Kills </th>
		<th> Total Human Deaths </th>
		<th> Avg Human lifespan </th>
		<th> Started Alien </th>
		<th> Total Alien Kills </th>
		<th> Total Alien Deaths </th>
		<th> Avg Alien lifespan </th>
		<tr ng-repeat="x in leaderTable">
			<td>{{ x[0] }}</td>
			<td>{{ x[1].played }}</td>
			<td>{{ x[1].lifetimeHumanStats.roundsStarted}} </td>
			<td>{{ x[1].lifetimeHumanStats.kills }}</td>
			<td>{{ x[1].lifetimeHumanStats.deaths }}</td>
			<td>{{ x[1].lifetimeHumanStats.totLifetime / x[1].lifetimeHumanStats.lives }} </td>
			<td>{{ x[1].lifetimeAlienStats.roundsStarted}} </td>
			<td>{{ x[1].lifetimeAlienStats.kills }}</td>
			<td>{{ x[1].lifetimeAlienStats.deaths }}</td>
			<td>{{ x[1].lifetimeAlienStats.totLifetime / x[1].lifetimeAlienStats.lives }} </td>
		</tr>
	</table>
</div>