<html>
<head>
	<!-- default is 864x900 --->
	<img id="Crank" width="864" height="900" src="../img/T_Crank.png" class="hide">
	<link rel="stylesheet" type="text/css" href="style/travel.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="/bower_components/angular-bootstrap-colorpicker/css/colorpicker.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body ng-app="OcelotAnalysisApp">
	<div  ng-controller="OcelotAnalysisController1">
	
		<p> Select a Version </p>
		<select ng-model="selectedVer" ng-options="x for x in vers">
		</select>
		<h1> Display data from: {{selectedVer}}</h1>

		
		<button ng-click="confirmVersion()">Confirm Version</button>
		<button ng-click="RefreshFunc()">Refresh </button>
		<div ng-show="showMatchesAndRounds">
			
			<p> Select a Match Date, Selected ID:{{selectedMatch.m_Id}}</p>
			<select ng-model="selectedMatch" ng-options="x.m_date for x in matches",value="x.m_Id">
			</select>
			<br>			
			
			<p> Select a Round {{selectedRound}}</p>
			<select ng-model="selectedRound" ng-options="x for x in rounds">
			</select>
			<br>
			
			<button ng-click="confirmRoundAndMatch()">Confirm Round/Match</button>
			
			
			<div ng-show="showPlayers">
				<p> Select Humans ( hold cntrl ;d )</p>
				<select multiple ng-model="selectedHumans" ng-options="x for x in humans">
				</select>
				<br>
			
			
				<p> Select Aliens ( hold cntrl ;d )</p>
				<select multiple ng-model="selectedAliens" ng-options="x for x in aliens">
				</select>
				<br>
				
				<p> View Players:</p>
				<p> Selected Humans: {{selectedHumans}} </p>
				<p> Selectd Aliens: {{selectedAliens}}
			
				<button ng-click="getTravelData()">Confirm Selected Players</button>
				<div ng-show="showTravelData">
					<h2> Player's Travel </h2>
					
					<canvas id="mapCanvas" width="864" height="900"></canvas>
					<br>
					<h2> Round Summaries: </h2>
					<p> Round Length {{Rnd_length}} </p>
					<p> Elimination victory? {{Rnd_result}} </p>
					<p> Number of Survivors? {{rnd_survivors}} </p>
					<p> Alien Deaths: ({{Tot_deaths}} Total Deaths)</p>
					<table>
						<th>Time of Death</th>
						<th>Player Name</th>
						<th>Alien Type</th>
						<tr ng-repeat="x in Alien_Data">
							<td>{{ x.secs }}</td>
							<td>{{ x.a_type }}</td>
							<td>{{ x.player }}</td>
						</tr>
					</table>
					<p> Command Point Summary </p>
					<table>
						<th>Point #</th>
						<th>Activation Time</th>
						<th>Capture Time</th>
						<tr ng-repeat="x in cmd_Info">
							<td>{{ $index + 1 }}</td>
							<td>{{x.activation}}</td>
							<td>{{x.capture}}</td>		
						</tr>
					</table>
					<p> Weapon Summary </p>
					<table>
						<th>Weapon Name</th>
						<th>Average Damage</th>
						<th>Total Damage</th>
						<th>Number of hits</th>
						<tr ng-repeat="x in Weapon_Data">
							<td>{{x.weapon_name}}</td>
							<td>{{x.average_damage}}</td>
							<td>{{x.total_damage}}</td>
							<td>{{x.num_records}}</td>	
						</tr>
					</table>
				</div>
			
			</div>
		</div>
	</div>
	
	
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-messages/angular-messages.js"></script>
	<script src="/bower_components/angular-material/angular-material.js"></script>
	<script src="/bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
	<script src="/bower_components/d3/d3.js"></script>
	<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
	<script src="/scripts/Travel_helpers.js"></script>
	<script src="/scripts/travel.js"></script>
	
</body>
</html>
