<html>
<head>
	<!-- default is 864x900 --->
	<img id="Crank" width="864" height="900" src="../img/T_Crank.png" class="hide">
	<img id="Flux" width="914" height="910" src="../img/T_Flux.png" class="hide">
	<link rel="stylesheet" type="text/css" href="style/travel.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="/bower_components/angular-bootstrap-colorpicker/css/colorpicker.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body ng-app="OcelotAnalysisApp">
	<div  ng-controller="OcelotAnalysisController">
		<h2> Ocelot Travel Analysis </h2>
		<div ng-if="!Versions"> Loading... </div>
		<div ng-show="Versions">
			<div class="grid-container">
				
				<!--- Version Cell --->
				<div>
					<!--- Version Dropbox --->
					<md-input-container style="margin-right: 10px;">
						<label>Version</label>
						<md-select ng-model="selectedVersion" ng-change="setVersion()">
							<md-option ng-repeat="x in Versions" value="{{x}}">{{x}}</md-option>
						</md-select>
					</md-input-container>
					
					<!--- Version Checkbox --->
					<div>
						<div ng-show="selectedVersion">
						Show Version Summary <input type="checkbox" id="CheckVersion"  ng-click="showVersionSummary()">
						</div>
					</div>
					
					<!--- Version Summary --->
					<div id="VersionSummary" style="display:none">
						<version-summary ng-if="selectedVersion"></version-summary>
					</div>
				</div>
				
				<!--- Match cell --->
				<div>
					<!--- Match Dropbox --->
					<div ng-show="selectedVersion">
						<md-input-container style="margin-right: 10px;">
							<label>Matches</label>
							<md-select ng-model="selectedMatch" ng-change="setMatch()">
								<md-option ng-repeat="x in getMatches()" ng-value=x.m_Id>{{x.m_date | date:'medium'}}</md-option>
							</md-select>
						</md-input-container>
					</div>
					
					<!--- Match Checkbox --->
					<div>
						<div ng-show="selectedMatch">
						Show Match Summary <input type="checkbox" id="CheckMatch"  ng-click="showMatchSummary()">
						</div>
					</div>
					
					<!--- Match Summary --->
					<div id="MatchSummary" style="display:none">
						<match-summary ng-if="selectedMatch"></match-summary>
					</div>
				</div>
				
				<!--- Round Cell --->
				<div>
					<!--- Round Dropbox --->
					<div ng-show="selectedMatch">
						<md-input-container style="margin-right: 10px;">
							<label>Round</label>
							<md-select ng-model="selectedRound" ng-change="setRound()">
								<md-option ng-repeat="x in getRounds()" ng-value=x.round_id>{{x.round_number}}</md-option>
							</md-select>
						</md-input-container>
					</div>
					
					<!--- Round Checkbox --->
					<div>
						<div ng-show="selectedRound">
						Show Round Summary <input type="checkbox" id="CheckRound"  ng-click="showRoundSummary()">
						</div>
					</div>
					
					<!--- Round Summary --->
					<div id="RoundSummary" style="display:none">
						<round-summary ng-if="selectedRound"></round-summary>
					</div>
	
					<!--- Select Players--->
					<!--- Humans --->
					<div ng-show="selectedRound">
						<md-input-container style="margin-right: 10px;">
							<label>Humans</label>
							<md-select multiple ng-model="selectedHumans" ng-change="showMap()">
								<md-option>Select All</md-option>
								<md-option ng-repeat="x in getPlayers()[0]" ng-value=x>{{x}}</md-option>
								<md-option>Clear</md-option>
							</md-select>
							<br>
						</md-input-container>
					</div>
					
					<!--- TODO: Aliens
					<div ng-show="selectedRound">
						<md-input-container style="margin-right: 10px;">
							<label>Aliens</label>
							<md-select multiple ng-model="selectedAliens" ng-change="showMap()">
								<md-option>Select All</md-option>
								<md-option ng-repeat="x in getPlayers()[1]" ng-value=x>{{x}}</md-option>
								<md-option>Clear</md-option>
							</md-select>
						</md-input-container>
					</div>
					--->
					
					<!--- Command Point Table --->
					<div ng-show="cmdInfoTable">
						<table>
							<th>Command Point Number</th>
							<th>Spawn Time</th>
							<th>Activated Time</th>
							<th>Captured Time</th>
							<tr ng-repeat="x in cmdInfoTable">
								<td>{{ x[0] }}</td>
								<td>{{ x[1] }}</td>
								<td>{{ x[2] }}</td>
								<td>{{ x[3] }}</td>
							</tr>
						</table>
					</div>
				</div>
				
				<!--- map --->
				<div>
					<div ng-show="selectedRound">
						<img id="Crank" width="864" height="900" src="../img/T_Crank.png" class="hide">
						<img id="Flux" width="914" height="910" src="../img/T_Flux.png" class="hide">
						<canvas id="mapCanvas" width="864" height="900"></canvas>
					</div>
				</div>
				
				<!--- Leader Board -->
				<div>
					<h2>Leader Board Stats</h2>
					<p>(in development)</p>
					<!--- TODO: SORT
					<label>Sort Humans by</label>
					<md-select ng-model="humanSortBy" ng-change="setLB()">
						<md-option ng-repeat="x in lbOptions" value="{{x}}">{{x}}</md-option>
					</md-select>
					<label>Sort Aliens by</label>
					<md-select ng-model="alienSortBy" ng-change="setLB()">
						<md-option ng-repeat="x in lbOptions" value="{{x}}">{{x}}</md-option>
					</md-select>
					--->
					<label>From Version</label>
					<md-select ng-model="fromVersion" ng-change="setLB()">
						<md-option ng-repeat="x in Versions" value="{{x}}">{{x}}</md-option>
					</md-select>
					<label>To Version</label>
					<md-select ng-model="toVersion" ng-change="setLB()">
						<md-option ng-repeat="x in Versions" value="{{x}}">{{x}}</md-option>
					</md-select>
					I solemnly swear that I am up to no good<input type="checkbox" id="CheckLeaders"  ng-click="showLeaderBoard()">
					<div id="leaderBoard" style="display:none">
						<ocelot-leaderboard></ocelot-leaderboard>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-messages/angular-messages.js"></script>
	<script src="/bower_components/angular-material/angular-material.js"></script>
	<script src="/bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
	<script src="/bower_components/d3/d3.js"></script>
	<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
	<script src="/scripts/travel_factory.js"></script>
	<script src="/scripts/travel_controller.js"></script>
</body>
</html>